{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "transform-remove-console",
          {
            "exclude": ["error", "warn"]
          }
        ]
      ]
    }
  }
}
